.close-btn{
  margin-right: 20px;
}
.close-btn img{
  width: 24px;
}
.close-btn span{
  display: block;
  font-size: 10px;
  color: #ACACAC;
  line-height: 15px;
}
.shape-card{
  width: 260px;
  height: 280px;
  border: 1px;
  border: 1px solid #EEEEEE;
  position: relative;
  padding: 20px;
  vertical-align: middle;
  margin-bottom: 30px;
}
.cardList:hover{
  border: 1px solid #ff7a00;
}
.shape-card-shape{
  position: absolute;
  top: 100px;
  right: 80px;
}
.shape-card-circle{
margin-top: 60px;
margin-left: 50px;
}
.shape-card-container{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.arrow{
  position: absolute;
  top: 160px;
  left: 60px;
}
.shape-card p{
  text-align: center;
  line-height: 23px;
  color: #34475E;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
}

.entity-marine{
  color: #6941C6;
}
.form{
  display: block;
  align-items:center;
  margin-left: 29%;
}
select{
  border: 1px solid #EEEEEE;
  height: 38px;
  width: 542px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
} 
.select-input{
  color: #34475E;
  line-height: 20px;
  font-size: 12px;
}
.create-request-button{
  margin-top: 0px;
}
.create-request-btn{
  background-color: #C3C4C6;
 padding: 16px 28px;
  border-radius: 3px;
  color: white;
  text-align: center;
  /* margin-left: 180px; */
  text-decoration: none;
  margin-top: 0;
  cursor: pointer;
}
.create-request-btn img{
  margin-top: 25px;
}
.hamburger-menu{
  display: none;
}

/* =====Responsiveness mobile */
@media screen and(max-width:767px)
 {
  .top-text {
  display: flex;
  flex-direction: column;
   padding-left: 35px;
}
}
    /* ==hamburger-menu for responsiveness */
    @media screen and (max-width: 700px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  aside {
    display: none; /* Hide sidebar on smaller screens */
  }
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 30px;
  }
  .hamburger-menu img {
    width: 100%;
  }
  .show {
    display: none;
  }
  #close-button {
    width: 40px;
  }
}
