
.all-request{
  border-radius: 3px;
  color: #2F2F2F;
}
.ongoing-status{
  background-color: white;
  border-radius: 3px;
  color: #2F2F2F;

} .table-heading {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.table-heading h3 {
  padding-left: 20px;
  margin-top: 20px;
}
td,
th {
  padding: 8px;
  line-height: 20px;
  border-bottom: 1px solid rgb(220, 218, 218);
  text-align: center;
}

thead tr th {
  text-align: center;
}
th {
  color: #7f8b94;
  background-color: #f0f0f0;
}

.bottom-table .completed{
 padding:1px 14px;
  background-color: #ECFDF3;
  color: #027A48;
  border-radius: 3px;
  font: 11px;
  line-height: 18px;
  text-decoration: none;
}
.ongoing{
  background-color: #FFDEBF;
  padding:1px 14px;
  color: #FF7A00;
  border-radius: 3px;
  font: 11px;
  line-height: 18px;
}
.bottom-table{
  overflow-x: auto;
}
@media screen and (max-width: 700px) {
  .top-text{
  flex-direction: column;
}
.bottom-table{
  overflow-x: auto;
}
}

